
.Slice:hover{
  transform: scale(1.05);
  transition-duration: .5s;
}

.Key {
  animation-name: key;
  animation-duration: 1s;
}
.KeyIcon {
  animation-name: keyItem;
  animation-duration: 1s;
}

@keyframes keyItem {
  0% {fill:transparent;}
  100% {fill:auto;}
}

@keyframes key {
  0% {fill:transparent;
    transform:translateY(-20px)}
  100% {fill:auto;
    transform:translate(0);}
}
